body {
  margin: 0;
  font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
  background: #F2F2F2;
}

#loan-navigation-container {
  margin: 0;
  padding: 0;
}

#loan-navigation-container nav {
  background-color: #0071BC;
  color: #eee;
}

#loan-navigation-container nav ul {
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

#loan-navigation-container nav li {
  display: inline;
  margin: 0;
}

#loan-navigation-container nav > ul > li > a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #eee;
  text-decoration: none;
  position: relative;
  top: .7rem;
}

#loan-navigation-container input[type=text] {
  width: 20vw;
  height: 3vh;
  background: #F2F2F2;
  font-size: .8rem;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  position: relative;
  top: .5rem;
}

#admin-button {
  background: #dddddd;
  border: none;
  border-radius: 3px;
  height: 4vh;
  cursor: pointer;
  color: #fff;
  position: relative;
  top: .5rem;
}

#admin_menu_box {
  position: absolute;
  top: 37px;
  right: 65px;
  width: 10vw;
  height: 100px;
  font-size: .9rem;
  background: #fff;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 1px 2px 5px rgba(126, 125, 125, 0.1),
  -1px 2px 5px rgba(126, 125, 125, 0.1);
}

#admin_menu_box a {
  text-decoration: none;
  color: #666;
}

#loan-navigation-container ::placeholder {
  color: #666666;
}

#gl-container {
  max-width: 1180px;
  height: 580px;
  margin: auto;
  margin-top: 20px;
}

.gl-header-container > h3 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.gl-entrybox {
  display: flex;
  flex-flow: column;
}

.gl-inner-entrybox {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(126, 125, 125,0.6),
  -0px 1px 2px rgba(126, 125, 125, 0.6);
  border: 1px solid #E6E6E6;
  font-size: 1.2rem;
}

.gl-journalposting-fields-left {
  width: 40vw;
  padding: 10px 10px 10px 10px;
  display: flex;
  /* flex: 1; */
  flex-flow: column wrap;
  justify-content: space-between;
}

.gl-journalposting-fields-left label{
  color: #808080;
}

.gl-journalposting-fields-left input[type=text] {
  height: 1.5rem;
  width: 200px;
  background: #F2F2F2;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  font-size: 1.2rem;
}

.gl-journalposting-fields-right {
  width: 40vw;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
}

.gl-journalposting-fields-right label, p{
  color: #808080;
  font-size: 1.2rem;
}

.gl-journalposting-fields-right input[type=text] {
  height: 1.5rem;
  width: 20vw;
  background: #F2F2F2;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  font-size: 1.2rem;
}

.gl-journal-comment-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

/* .gl-journal-comment-container input[type=text] {
  height:
} */


.gl-postentry-button-container {
  margin: auto;
  padding: 5px 5px 5px 5px;
}

.gl-postentry-button-container > button {
  width: 150px;
  height: 28px;
  background: #333333;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.gl-table-container {
  position: relative;
  top: 35px;
  background: #fff;
  /* box-shadow: 0px 1px 2px 30% rgba(0, 0, 0, 1); */
  box-shadow: 0px 1px 2px rgba(126, 125, 125,0.6),
  -0px 1px 2px rgba(126, 125, 125, 0.6);
  border: 1px solid #E6E6E6;
}

.gl-table {
  padding: 10px 10px 10px 10px;
  max-width: 1180px;
}

.gl-table table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

.gl-table > table > thead {
  background: rgb(230, 230, 230);
  border: 1px solid rgb(204, 204, 204);
  font-size: 1.2rem;
}

.gl-table > table > tbody {
  background: rgb(242, 242, 242);
  border: 1px solid rgb(179,179,179);
}

/* .gl-table > table > td {
  border: 1px solid rgb(179,179,179);
} */